<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DistanceTracker"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".SelectionActivity"
            android:exported="true"
            android:label="@string/str_select_demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.mapType.MapTypeActivity"
            android:exported="true"
            android:label="@string/map_type"/>

        <activity
            android:name=".modules.mapStyle.MapStyleActivity"
            android:exported="true"
            android:label="@string/map_style"/>

        <activity
            android:name=".modules.mapView3d.MapView3dActivity"
            android:exported="true"
            android:label="@string/str_map_view_3d"/>

        <activity
            android:name=".modules.mapBoundaries.MapBoundariesActivity"
            android:exported="true"
            android:label="@string/str_boundaries"/>

        <activity
            android:name=".modules.animateCamera.AnimateCameraActivity"
            android:exported="true"
            android:label="@string/strAnimateCamera"/>

        <activity
            android:name=".modules.mapTapCoOrdinates.MapTapCoOrdinatesActivity"
            android:exported="true"
            android:label="@string/map_co_ordinates"/>

        <activity
            android:name=".modules.mapMarkers.MapMarkersActivity"
            android:exported="true"
            android:label="@string/str_markers_demo"/>

        <activity
            android:name=".modules.mapPolyline.MapPolyLineActivity"
            android:exported="true"
            android:label="@string/polyline_setup_demo"/>

        <activity
            android:name=".modules.mapPolygon.MapPolygonActivity"
            android:exported="true"
            android:label="@string/map_polygon_demo"/>

        <activity
            android:name=".modules.mapCircle.MapCircleActivity"
            android:exported="true"
            android:label="@string/map_circle_demo"/>

        <activity
            android:name=".modules.mapCustomPolyline.MapCustomPolylineActivity"
            android:exported="true"
            android:label="@string/custom_polyline_demo"/>

    </application>

</manifest>